@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

::root {
    --color-theme: #FF7373;
    --color-dark: #222529;
    --linear-gradient-dark: #E6E6E6;
    --linear-gradient-light: #F5F5F5;

    --max-width: 1680px
}

html, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

a {
    color: var(--color-theme);
    text-decoration: none;
}
a:hover {
    color: var(--color-theme);
    text-decoration: underline;
}